.header-image {
   background-image: url(images/HawaiiHoopsNetworkLogo.jpg);
   background-repeat: no-repeat;
   height: 174px;
}

.form-control2 {
   margin-top: 10px;
   width: 140px;
}

.loginWidget {
   width: 200px;
}

h101 {
   font-size: 12px;
   margin-left: 20px;
}

.loginButton {
   margin-left: 900px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #772953;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
   background-color: #772953;
}

.footer {
   padding-bottom: 40px;
}

.list {
   list-style-type: none;
   padding: 0px;
   margin: 0px;
}

.profilepic {
   height: 174px;
   width: 164px;
}
